body {
	font-size: 18px;
}

h1 {
	font-size: 3.5rem;
	font-weight: bold;
}

#inputdate {
	height: 40px;
}

#button {
	background-color: rgb(63, 97, 15);
	color: white;
	margin-top: 10px;
	height: 45px;
}

/*
#result {
	color: red;
}